<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Editora Love Books</title>



</head>

<body>
  <nav class="navbar" style="background-color:#921A40">
    <a class="navbar-brand" style="color:white" href="#"><i class="fa-solid fa-book-open"></i> Editora Love Books</a>
    <button class="navbar.bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>

  <div class="container">
    <form style="margin-top: 30px;" action="/salvarEntrada" th:object="${entrada}" method="POST">
      <div class="mb-3">
        <div class="row" th:object="${itemEntrada}">
          <div class="col"></div>
          <div class="col-6">
            <label>Produto:</label>
            <select th:field="*{produto}" class="form-control">
              <option th:each="est : ${listaProdutos}" th:value="${est.id}" th:text="${est.nome}"></option>
            </select>
          </div>
          <div class="col">
            <label>Quantidade:</label>
            <input type="text" class="form-control" th:field="*{quantidade}">
          </div>
          <div class="col">
            <label>Valor de Custo:</label>
            <input type="text" class="form-control" th:field="*{valorCusto}">
          </div>
          <div class="col">
            <label>Valor de Venda:</label>
            <input type="text" class="form-control" th:field="*{valor}">
          </div>
          <div class="col">
            <button name="acao" th:value="itens" style="margin-top:32px;" type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <label for="id" class="form-label">ID:</label>
            <input type="text" readonly="true" class="form-control" id="id" th:field="*{id}">

            <label class="form-label">Observação:</label>
            <input type="text" class="form-control" th:field="*{obs}">

            <label class="form-label">Funcionario:</label>
            <select th:field="*{funcionario}" class="form-control">
              <option th:each="est : ${listaFuncionarios}" th:value="${est.id}" th:text="${est.nome}"></option>
            </select>

            <label class="form-label">Fornecedores:</label>
            <select th:field="*{fornecedor}" class="form-control">
              <option th:each="est : ${listaFornecedores}" th:value="${est.id}" th:text="${est.nome}"></option>
            </select>

            <label class="form-label">Valor Total:</label>
            <input type="text" readonly class="form-control" th:field="*{valorTotal}">

            <label class="form-label">Quantidade Total:</label>
            <input type="text" readonly class="form-control" th:field="*{quantidadeTotal}">

            <button type="submit" name="acao" th:value="salvar" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
            <a href="/administrativo" class="btn btn-danger"><i class="fa-regular fa-share-from-square"></i> Voltar</a>
            <a href="/listarEntrada" class="btn btn-success"><i class="fa-solid fa-list"></i> Listar</a>
          </div>

          <div class="col">
            <table class="table table-striped" id="tabela" style="margin-top: 30px">
              <thead class="bg-primary" style="color: white">
                <tr>
                  <td>ID</td>
                  <td>Produto</td>
                  <td>Quantidade</td>
                  <td>Valor Custo</td>
                  <td>Valor Venda</td>
                  <td>Ação</td>
                </tr>
              </thead>

              <tbody>
                <tr th:each="itemEntrada: ${listaItemEntrada}">
                  <td th:text="${itemEntrada.id}"></td>
                  <td th:text="${itemEntrada.produto.nome}"></td>
                  <td th:text="${itemEntrada.quantidade}"></td>
                  <td th:text="${itemEntrada.valorCusto}"></td>
                  <td th:text="${itemEntrada.valor}"></td>
                  <td colspan="2">
                    <a th:href="@{/editarEntrada/{id}(id=${itemEntrada.id})}"><i class="fa-solid fa-file-pen" style="color: #156eb2;"></i></a>
					<a th:href="@{/removerEntrada/{id}(id=${itemEntrada.id})}"><i class="fa-solid fa-trash-can" style="color: #e60a0a;"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>
